* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", "sans-serif";
  color: rgb(84, 84, 84);
}

body {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 22px;
}

h1 {
  letter-spacing: -0.175rem;
  font-size: 2.75em;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 25px;
}

h5 {
  letter-spacing: -0.075rem;
  font-size: 1.25em;
  line-height: 1.75;
  font-weight: 300;
  margin-bottom: 25px;
}

p {
  letter-spacing: -0.025rem;
  font-size: 1em;
  line-height: 1.875;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a[disabled="disabled"] {
  pointer-events: none;
  cursor: default;
}

.fa {
  margin-right: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  transition: 0.2s ease-in;
}

.fa:last-of-type {
  margin-right: 0;
}

.fa:hover {
  transition: 0.2s ease-out;
}

.fa:hover#twitter {
  color: rgb(29, 161, 242);
}

.fa:hover#linkedin {
  color: #0073b1
}

.fa:hover#medium {
  color: #03a87c;
}

.fa:hover#github {
  color: #24292e;
}

.fa:hover#heart {
  color: #E62b1E;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 40px;
  max-width: 1700px;
  padding-left: 70px;
  padding-right: 70px;
}

#description {
  width: 30%;
  padding-right: 50px;
  margin-bottom: 50px;
}

#links {
  margin-top: 25px;
}

#projects {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 0 -10px;
}

.project {
  margin: 0 1vw 2vw 1vw;
  width: 26vw;
  height: 22vw;
  background-size: cover;
}

.project:hover .info {
  visibility: visible;
  opacity: 1;
}

.project .image-wrapper {
  height: 100%;
  width: 100%;
}

.project .info {
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
  transition: 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  visibility: hidden;
}

.project .info .title {
  width: 100%;
  text-align: center;
}

.button {
  border: 1px rgb(84, 84, 84) solid;
  cursor: pointer;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  letter-spacing: -0.025rem;
  font-size: 1em;
  font-weight: 300;
  transition: 0.2s ease-out;
}

.button:hover {
  background-color: rgb(84, 84, 84);
  color: rgba(255, 255, 255, 0.9);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 35px 40px 40px 40px;
  border: 1px solid #888;
  width: 40%;
  min-width: 300px;
}

.modal-content p {
  margin-bottom: 25px;
}

.modal-content .img-copyright {
  font-weight: 300;
  letter-spacing: -0.025rem;
  font-size: 0.7em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: lighter;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1060px) {
  body {
    font-size: 16px;
  }

  .fa {
    font-size: 24px;
    width: 24px;
  }

  #wrapper {
    margin-top: 50px;
  }

  #description {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }

  #projects {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .project {
    width: 24vw;
    height: 24vw;
  }

  .project:hover .info {
    visibility: hidden;
    opacity: 0;
  }

  .modal-content {
    padding: 25px 30px 30px 30px;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2em;
  }

  #description {
    margin-bottom: 30px;
  }

  #wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .project {
    width: 40vw;
  }
}